input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border: 1px solid black
}

#button1 {background-color: red;} /* Green */
#button2 {background-color: orange;} /* Blue */
#button3 {background-color: yellow;} /* Red */ 
#button4 {background-color: green;} /* Gray */ 
#button5 {background-color: blue;} /* Black */